﻿@page
@model IoTCloud2021.Web.Pages.Sensores.Index
@using IoTCloud2021.COMMON
@{
    ViewData["Title"] = "Sensores";
    Layout = "~/Pages/Shared/_PanelUsuario.cshtml";
}
<p><a asp-page="/Proyectos/Index" class="btn btn-link">Proyectos</a></p>
<h2>Sensores de @Model.Item.Nombre</h2>
<a asp-page="/Sensores/Nuevo" asp-route-id="@Model.Item.Id" class="btn btn-link"><em class="ml-2" data-feather="plus-circle"></em> Nuevo</a>

<div class="row">
    @foreach (var item in Model.Sensores)
    {
        <div class="col-sm-4 col-sm-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@item.Nombre [@item.UnidadDeMedida]</h3>
                    <p style="font-size:small">ID: @item.Id</p>
                    <p style="font-size:small">MQTT: @item.TopicoMQTT</p>
                    <p>
                        <a asp-page="/Lecturas/Index" asp-route-id="@item.Id" class="btn btn-primary">Ver</a>
                        <a asp-page="/Sensores/Editar" asp-route-id="@item.Id" class="btn btn-info">Editar</a>
                        <a asp-page="/Sensores/Eliminar" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
