﻿@page
@model IoTCloud2021.Web.Pages.CreaCuentaModel
@{
    ViewData["Title"] = "Crear cuenta";
}


<section class="py-5 py-md-0 bg-hero">
    <div class="container">
        <div class="row vh-md-100">
            <div class="my-auto">
                <h1 class="heading-black text-capitalize">Crea una cuenta en IoTCloud 2021</h1>
                <p class="lead py-3">
                    Con una cuenta puedes crear proyectos IoT y almacenar sus lecturas, también tienes acceso a nuestra API para poder generar tus propias aplicaciones.
                </p>

                @if (Model.Texto != "")
                {
                    if (Model.Resultado)
                    {
                        <div class="alert alert-success" role="alert">@Model.Texto</div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">@Model.Texto</div>
                    }
                }
                <form method="post">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                Nombre(s):
                            </div>
                            <div class="col-6">
                                <input type="text" asp-for="nuevaCuentaModel.Nombre" class="form-control" placeholder="Nombre" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                Apellidos:
                            </div>
                            <div class="col-6">
                                <input type="text" asp-for="nuevaCuentaModel.Apellido" class="form-control" placeholder="Apellidos" required />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-2">
                                E-mail:
                            </div>
                            <div class="col-6">
                                <input type="email" asp-for="nuevaCuentaModel.Email" class="form-control" placeholder="E-mail" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                Contraseña:
                            </div>
                            <div class="col-4">
                                <input type="password" asp-for="nuevaCuentaModel.Password1" class="form-control" placeholder="Contraseña" required />
                            </div>
                            <div class="col-2">
                                Otra vez:
                            </div>
                            <div class="col-4">
                                <input type="password" asp-for="nuevaCuentaModel.Password2" class="form-control" placeholder="Repite tu contraseña" required />
                            </div>
                        </div>

                        <input type="submit" class="btn btn-primary d-inline-flex flex-row align-items-center" value="Crear Cuenta" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>