﻿@page
@model IoTCloud2021.Web.Pages.Login
@{
    ViewData["Title"] = "Login";
}

<section class="py-3 py-md-0 bg-hero">
    <div class="container">
        <div class="row vh-md-100">
            <div class="my-auto">
                <h1 class="heading-black text-capitalize">Inicia sesión en IoTCloud 2021</h1>

                @if (Model.Texto != "")
                {
                    if (Model.Resultado)
                    {
                        <div class="alert alert-success" role="alert">@Model.Texto</div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">@Model.Texto</div>
                    }
                }
                <form method="post">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                E-mail:
                            </div>
                            <div class="col-6">
                                <input type="text" asp-for="loginModel.Email" class="form-control" placeholder="E-mail" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                Contraseña:
                            </div>
                            <div class="col-4">
                                <input type="password" asp-for="loginModel.Password" class="form-control" placeholder="Contraseña" required />
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary d-inline-flex flex-row align-items-center" value="Iniciar Sesión" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>