﻿@page
@model IoTCloud2021.Web.Pages.PanelProyectosModel
@using IoTCloud2021.COMMON
@{
    ViewData["Title"] = "Sensores";
    Layout = "~/Pages/Shared/_PanelUsuario.cshtml";
}

<h2>Mis Proyectos</h2>
<button class="btn btn-link" data-toggle="modal" data-target="#nuevoProyecto"><em class="ml-2" data-feather="plus-circle"></em> Nuevo</button>
@if (Model.Mensaje != null)
{
    if (Model.EsError)
    {
        <div class="alert alert-secondary" role="alert">
            <img src="~/images/error.png" alt="Error" />@Model.Mensaje
        </div>
    }
    else
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @Model.Mensaje
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<div class="row">
    @foreach (var item in Model.Items)
    {
        <div class="col-sm-4 col-sm-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@item.Nombre</h3>
                    <p style="font-size:small">ID: @item.Id</p>
                    <p style="font-size:small">@item.Descripcion</p>
                    <p style="font-size:small">MQTT: @item.TopicoMQTT</p>
                    <p>
                        <a asp-page="/Sensores/Index" asp-route-id="@item.Id" class="btn btn-primary">Ver</a>
                        <a asp-page="/Proyectos/Editar" asp-route-id="@item.Id" class="btn btn-info">Editar</a>
                        <a asp-page="/Proyectos/Eliminar" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="nuevoProyecto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Nuevo Proyecto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-row">
                            <div class="col-2">
                                Nombre:
                            </div>
                            <div class="col-6">
                                <input type="text" placeholder="Nombre" class="form-control" asp-for="Item.Nombre" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-2">
                                Descripción:
                            </div>
                            <div class="col-6">
                                <input type="text" placeholder="Descripción" class="form-control" asp-for="Item.Descripcion" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-2">
                                URL Foto:
                            </div>
                            <div class="col-6">
                                <input type="text" placeholder="Url foto" class="form-control" asp-for="Item.URLFoto" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary d-inline-flex flex-row align-items-center" value="Guardar" />
                </div>
            </form>
        </div>
    </div>
</div>