﻿@page
@model IoTCloud2021.Web.Pages.Proyectos.EditarModel
@{
    ViewData["Title"] = "Editar Proyecto";
    Layout = "~/Pages/Shared/_PanelUsuario.cshtml";
}
<h2>Editar Proyecto @Model.Item.Nombre</h2>
<a asp-page="/Proyectos/Index" class="btn btn-link"><em class="ml-2" data-feather="arrow-left"></em> Regresar</a>
@if (Model.Mensaje != null)
{
    if (Model.EsError)
    {
        <div class="alert alert-secondary" role="alert">
            <img src="~/images/error.png" alt="Error" />@Model.Mensaje
        </div>
    }
    else
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @Model.Mensaje
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<form method="post">
    <div>
        <div class="form-row">
            <div class="col-2">
                Nombre:
            </div>
            <div class="col-6">
                <input type="text" placeholder="Nombre" class="form-control" asp-for="Item.Nombre" required />
            </div>
        </div>
        <div class="form-row">
            <div class="col-2">
                Descripción:
            </div>
            <div class="col-6">
                <input type="text" placeholder="Descripción" class="form-control" asp-for="Item.Descripcion" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-2">
                URL Foto:
            </div>
            <div class="col-6">
                <input type="text" placeholder="Url foto" class="form-control" asp-for="Item.URLFoto" />
            </div>
        </div>
        <input type="hidden"  asp-for="Item.Id" />
        <input type="hidden"  asp-for="Item.IdUsuario" />
        <input type="hidden"  asp-for="Item.TopicoMQTT" />
        <input type="submit" class="btn btn-primary d-inline-flex flex-row align-items-center" value="Guardar" />
    </div>
</form>