﻿@page
@model IoTCloud2021.Web.Pages.Proyectos.EliminarModel
@{
    ViewData["Title"] = "Eliminar Proyecto";
    Layout = "~/Pages/Shared/_PanelUsuario.cshtml";
}
<h2>Eliminar Proyecto @Model.Item.Nombre</h2>
<a asp-page="/Proyectos/Index" class="btn btn-link"><em class="ml-2" data-feather="arrow-left"></em> Regresar</a>
@if (Model.Mensaje != null)
{
    if (Model.EsError)
    {
        <div class="alert alert-secondary" role="alert">
            <img src="~/images/error.png" alt="Error" />@Model.Mensaje
        </div>
    }
    else
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @Model.Mensaje
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<h2>¿Realmente deseas eliminar este proyecto?</h2>
<p>Si lo elimina, todos los datos relacionados a este (sensores, actuadores, lecturas, etc) serán eliminados...</p>

<form method="post">
    <input type="submit" class="btn btn-danger" value="Sí, eliminar"/>
</form>