﻿@page
@model IoTCloud2021.Web.Pages.Proyectos.Index
@using IoTCloud2021.COMMON
@{
    ViewData["Title"] = "Proyectos";
    Layout = "~/Pages/Shared/_PanelUsuario.cshtml";
}

<h2>Mis Proyectos</h2>
<a asp-page="/Proyectos/Nuevo" class="btn btn-link"><em class="ml-2" data-feather="plus-circle"></em> Nuevo</a>

<div class="row">
    @foreach (var item in Model.Items)
    {
        <div class="col-sm-4 col-sm-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@item.Nombre</h3>
                    <p style="font-size:small">ID: @item.Id</p>
                    <p style="font-size:small">@item.Descripcion</p>
                    <p style="font-size:small">MQTT: @item.TopicoMQTT</p>
                    <p>
                        <a asp-page="/Sensores/Index" asp-route-id="@item.Id" class="btn btn-primary">Ver</a>
                        <a asp-page="/Proyectos/Editar" asp-route-id="@item.Id" class="btn btn-info">Editar</a>
                        <a asp-page="/Proyectos/Eliminar" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>