﻿@page
@model IoTCloud2021.Web.Pages.Lecturas.IndexModel
@{
    ViewData["Title"] = "Lecturas";
    Layout = "~/Pages/Shared/_PanelUsuario.cshtml";
    int n = 0;
}
<p><a asp-page="/Proyectos/Index" class="btn btn-link">Proyectos</a>/<a asp-page="/Sensores/Index" asp-route-id="@Model.Proyecto.Id" class="btn btn-link">@Model.Proyecto.Nombre</a></p>
<h2>Lecturas de @Model.Sensor.Nombre</h2>

<div class="panel-body">
    <h3>Tabla de valores</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="text-align:center">No.</th>
                    <th style="text-align:center">Id</th>
                    <th style="text-align:center">Fecha Hora</th>
                    <th style="text-align:center">Valor(@Model.Sensor.UnidadDeMedida)</th>
                    <th style="text-align:center"></th>
                    <th style="text-align:center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td style="text-align:center">@(n++)</td>
                        <td style="text-align:center">@item.Id</td>
                        <td style="text-align:center">@item.FechaHora.ToString()</td>
                        <td style="text-align:center">@item.Valor</td>
                        <td style="text-align:center"><a asp-page="/Lecturas/Editar" asp-route-id="@item.Id" asp-page-handler="editar"><img src="~/images/pencil.png" style="width:16px" alt="Editar Lectura" /></a></td>
                        <td style="text-align:center"><a asp-page="/Lecturas/Editar" asp-route-id="@item.Id" asp-page-handler="eliminar"><img src="~/images/delete.png" style="width:16px" alt="Eliminar Lectura" /></a></td>
                    </tr>
                }
            </tbody>
        </table> 
    </div>
</div>

