﻿@page "/CrearCuenta"
@inject IUsuarioManager manager
<h3 class="navbar-brand heading-black">Crear Cuenta en IoTCloud</h3>

<div class="container">
    <div class="row">
        <div class="col-2">
            Nombre
        </div>
        <div class="col-4">
            <input class="form-control" type="text" id="inpNombre" placeholder="Nombre(s)" required @bind="model.Nombre" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Nombre
        </div>
        <div class="col-4">
            <input class="form-control" type="text" id="inpApellidos" placeholder="Apellido(s)" required @bind="model.Apellido" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            E-mail
        </div>
        <div class="col-4">
            <input class="form-control" type="email" id="inpEmail" placeholder="E-mail" required @bind="model.Email" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Contraseña
        </div>
        <div class="col-4">
            <input class="form-control" type="password" id="inpPassword1" required @bind="model.Password1" />
        </div>
        <div class="col-2">
            Repetir
        </div>
        <div class="col-4">
            <input class="form-control" type="password" id="inpPassword2" required placeholder="Otra vez" @bind="model.Password2" />
        </div>
    </div>
    <label>@resultado</label>
    <div class="row">
        <button class="btn btn-primary d-inline-flex flex-row align-items-center" @onclick="CrearCuenta_Click">Crear Cuenta</button>
    </div>
</div>


@code {

    private string resultado = "";
    private HttpClient httpClient;
    NuevaCuentaModel model;
    protected override Task OnInitializedAsync()
    {
        model = new NuevaCuentaModel();
        return base.OnInitializedAsync();
    }

    private void CrearCuenta_Click()
    {

    }


}



